.main-preloader {
display: flex;
justify-content: center;
align-items: center;
}

.cards-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.not-found {
  text-align: center;
}
